
<!-- Comments Start -->

  {% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}

  <div id="comments-container">
    <h2>Comments <span class="fa fa-comment"></span></h2>
      <div class="comments">
        {% if site.data.comments[page.type][post_slug] %}
          {% assign comments = site.data.comments[page.type][post_slug] | sort %}

          {% for comment in comments %}
            {% assign author=comment[1].name %}
            {% assign email=comment[1].email %}
            {% assign url=comment[1].url %}
            {% assign date=comment[1].date %}
            {% assign message=comment[1].message %}

            {% include comment.html index=forloop.index author=author email=email url=url date=date message=message %}
          {% endfor %}
        {% else %}
        <center style="font-size: 20px;">
          {%- if page.comments-enabled -%}
          There are currently no comments.
          {%- endif -%}
        </center>
        {% endif %}
      </div>
      {% if page.comments-enabled and site.comment-construction == "False" %}
        <h4>Post a new comment</h4>
        {% include new-comment.html %}
      {% else %}
        {% if site.comment-construction %}
        <small>Comments have been disabled across the site. Staticman does not work for Gitlab, not yet!</small>
        {% else %}
        <small>Comments have been disabled for this post.</small>
        {% endif %}
      {% endif %}
  </div>

<!-- Comments End -->
