<footer>
  {% unless page.footer == false %}
  <hr class="hr-double" />
  <div class="footer-content">
    <div class="categories-list">
      <h6 class="small"><span class="fa fa-folder"></span> Categories</h6>
      <ul>
        {% for category in site.categories %}
        <li><a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% include recenttracks.html %}
  </div>
  {% endunless %}
  <hr class="hr-double-reverse" style="margin: 20px 0;" />
  {% include social-buttons.html %}
  <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
</footer>
