
<!-- HEAD Start -->

<head>
  {%- if site.force-https -%}
    {% comment %} <script> {% endcomment %}
    {% comment %} // Don't force http when serving the website locally {% endcomment %}
    {% comment %} if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.protocol != "https:")) {% endcomment %}
    {% comment %}     window.location.protocol = "https"; {% endcomment %}
    {% comment %} </script> {% endcomment %}
  {%- endif -%}
  <meta charset="utf-8">
  <meta name="Googlebot" content="noindex, nofollow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/{{site.img_dir}}/web-app/icon-144p.png">
  {% assign fourofour = "/404.html"%}
  {% if page.url == {{fourofour}} | prepend: {{site.baseurl}} %}
    <meta http-equiv="refresh" content="20; url={{site.baseurl}}/">
  {% endif %}
  <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>

  <!-- Apple Web-App meta tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{ Japorized }">

  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Main CSS -->
  <style> a:link, a:visited { color: #000; } </style>
  <script type="text/javascript">
  function timeSensitive() {
    var curHour = new Date().getHours();
    if ( curHour > 16 || curHour < 8 ) darkTheme();
    else lightTheme();
  }
  function darkTheme() {
    document.write('<link id="theme" href="{{ site.baseurl }}/{{ site.css_dir }}/night.css" rel="stylesheet">');
    document.write('<link id="hljs-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-dark.min.css">');
  }
  function lightTheme() {
    document.write('<link id="theme" href="{{ site.baseurl }}/{{ site.css_dir }}/style.css" rel="stylesheet">');
    document.write('<link id="hljs-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-light.min.css">');
  }
  if ( typeof(Storage) !== "undefined" ) {
    switch (sessionStorage.theme) {
      case "light":
        lightTheme();
        break;
      case "dark":
        darkTheme();
        break;
      default:
      timeSensitive();
    }
  } else {
    timeSensitive();
  }
  </script>
  <noscript><link href="{{site.baseurl}}/{{site.css_dir}}/style.css" rel="stylesheet"></noscript>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {%- if site.favicon -%}
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{ site.img_dir }}/{{ site.favicon }}">
  {%- endif -%}
</head>

<!-- HEAD End -->
