{% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}
<figure class="post_img">
  <img data-src="{{site.baseurl}}/{{site.img_dir}}/posts/{{post_slug}}/{{ include.src }}" alt="{{ include.caption }}"/>
	<figcaption>{{ include.caption }}</figcaption>
</figure>
