
<!-- Javascript Start -->

<!-- My Library -->
<script src="{{ site.baseurl }}/{{ site.js_dir }}/myLib.js"></script>

<!-- Lunr.js | Blog Searching Utility -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/lunr.js"></script>

<!-- Masonry -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/macy.js"></script>

<!-- Vanilla-Lazyload -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/lazyload.min.js"></script>

  <!-- Smooth-scroll -->
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/smooth-scroll.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/{{ site.js_dir }}/global.js"></script>

{% if page.section-type == "index" %}

  <script type="text/javascript">
  var myQuotes =  new Array();
  {% for line in site.lines %}
  myQuotes.push("{{ line.text }}");
  {% endfor %}
  var headerQuote = document.querySelector('p#random-quote'),
      randomIndex = Math.floor(Math.random() * myQuotes.length);
  headerQuote.innerHTML = myQuotes[randomIndex];
  </script>

{% endif %}

{% if page.title == "CV" %}
    <!-- Script for CV page -->
    {% comment %} <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/cv.js"></script> {% endcomment %}
    <link rel="stylesheet" href="{{ site.url }}/{{ site.css_dir }}/cv.css">
{% endif %}

{% if page.layout == "blog" %}
  <script type="text/javascript" src="{{ site.baseurl }}/{{ site.js_dir }}/append-posts.js"></script>
{% endif %}

<!-- Syntax highlighting -->
{% if site.syntax-highlight and page.type == "post" %}

  <!-- Syntax highlight in post pages-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

{% endif %}

    <!-- KaTeX -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Do KaTeX
      renderMathInElement(document.body, {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "\\[", right: "\\]", display: true},
          {left: "$", right: "$", display: false},
          {left: "\\(", right: "\\)", display: false}
        ],
        macros: { "\\abs": "\\mid #1 \\mid" }
      });
    });
  </script>

<!-- Javascript End -->
