<nav class="navbar" role="navigation">
  <div class="navbar-main">
	  <div class="navbar-logo">
	  	<div class="navbar-item">
	  		<a class="nav-item" href="#" data-scroll>
          <span class="fa fa-leaf"></span> &nbsp; Japorized
	  		</a>
	  	</div>
      <div class="navbar-item hidden-desktop toggler" data-target="navMenu">
        <span class="fa fa-bars"></span>
      </div>
	  </div>
	  <div class="navbar-menu" id="navMenu">
      <a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
      {% for p in site.pages_list %}
      <a class="navbar-item" href="{{ site.baseurl }}/{{ p[0] }}">{{ p[0] }}</a>
      {% endfor %}
      <a class="navbar-item" href="{{ site.baseurl }}/search"><span class="fa fa-search"></span></a>
      <span class="navbar-item theme-toggle" title="What do you think this is?"><span class="fas fa-circle"></span></span>
	  </div>
  </div>
  <hr class="hr-double" style="margin: 15px 0;" />
</nav>
