
<!-- Social Buttons Start -->

<ul class="social-buttons">
  {% for network in site.social %}
    {% if network.title != "rss" %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fab fa-{{ network.title }} fa-fw"></i></a></li>
    {% else %}
    <li><a href="{{ network.url }}" target="_blank"><i class="fas fa-{{ network.title }} fa-fw"></i></a></li>
    {% endif %}
  {% endfor %}
</ul>

<!-- Social Buttons End -->
