<!-- YouTube Embedment Start -->

<div class="youtube">
	<iframe src="https://www.youtube-nocookie.com/embed/{{ include.youtube_id }}" frameborder="0" allowfullscreen></iframe>
</div>

<!-- YouTube Embedment End -->
