@import "variables";
@import "mixins";

/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*
 * This theme is originally based on Bootstrap Grayscale, and then
 * modified by https://github.com/le4ker/personal-jekyll-theme. It
 * has forked from there since Sep 17, 2015, the birthdate of this
 * Github Page.
 */

/* 
 * Table of Contents
 * =============================================================
 * Normalizations                                 |css-norma|
 * Helpers                                       |css-helper|
 * Body and General Fonts, Headers and Images      |css-body|
 * General styling                             |css-genstyle|
 * Animations                                |css-animations|
 * Navigation                                       |css-nav|
 * Index Styles                                   |css-index|
 * Index Header                                  |css-header|
 * General Footer                                |css-footer|
 * Post Catalog                                   |css-posts|
 * Tags & Categories Page                    |css-categories|
 * Commenting System                           |css-comments|
 * Miscellaneous                                   |css-misc|
 */

// Normalizations     |css-norma|
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html, body {
    overflow-x: hidden;
}

.columns {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Helpers      |css-helper|
.text-center {
  text-align: center;
}

// Body and General Fonts, Headers and Images      |css-body|
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $font-body;
    font-size: 14px;
    color: $light;
    background-color: $dark;
    webkit-tap-highlight-color: rgba($light, 0.2);
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba($light, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba($light, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: $font-headers;
    font-weight: 700;
    letter-spacing: 1px;

    small {
        font-size: 75%;
        font-weight: 400;
        line-height: 1;
        color: $dark-font;
    }
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
    margin: 15px 0;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.3rem;
    }
    h5 {
        font-size: 1rem;
    }
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

hr {
    font-family: Arial, sans-serif; /* choose the font you like */
    text-align: center; /* horizontal centering */
    line-height: 1px; /* vertical centering */
    height: 1px; /* gap between the lines */
    font-size: 1em; /* choose font size you like */
    border-width: 1px 0; /* top and bottom borders */
    border-style: solid;
    border-color: #676767;
    margin: 30px 10px; /* 20px space above/below, 10px left/right */

    /* ensure 1px gap between borders */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;

    &:after {
        content: "∂"; /* section sign */
        color: #999;
        display: inline; /* for vertical centering and background knockout */
        background-color: #000; /* same as background color */
        padding: 0 0.5em; /* size of background color knockout */
    }
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;

    &:link, &:visited {
        -webkit-transition: color .2s ease-in-out, border .2s ease-in-out;
        -moz-transition: color .2s ease-in-out, border .2s ease-in-out;
        transition: color .2s ease-in-out, border .2s ease-in-out;
        text-decoration: none;
    }
    
    &:hover, &:focus {
        text-decoration: none;
        border-bottom: 2px solid $primary;
        // color: darken($primary, 20%);
    }
}

.ul,
ol {
  text-align: center;
  margin: 0 0 35px;
  font-size: 20px;
  line-height: 1.5;
  list-style-position: inside;
}

// General styling      |css-genstyle|
.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: $light;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

blockquote {
  font-style: italic;
  border-left: 4px solid $gray;
  background: rgba(255,255,255,0.1);
  padding: 15px;
  margin-bottom: 15px;

  p {
    padding: 0;
    margin: 0;
  }
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }
}

.fixed {
    z-index: 101;
}

.light {
    font-weight: 400;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid $light;
    border-radius: 35px;
    font-size: 40px;
    color: $light;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
		outline: none;
		color: $light;
		background: rgba($light, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

.inline-list {
    padding: 0;
    list-style: none;
    display: inline-flex;

    li {
        padding: 0 5px 0 5px;
    }
}

// Anications     |css-animations|
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    fom {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.search {
    background: rgba($dark, 0.7);
    width: 90%;
    padding: 20px;
    border: .1px solid rgba($light, 0.3);
    font-size: 20px;
    opacity: 0;
    text-align: center;
    font-family: $font-headers;
    position: fixed;
    top: 75px;
    left: 5%; 
    z-index: -1;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;

    &.is-active {
        opacity: 1;
        z-index: 1001;
    }

    p {
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
    }

    #site_search #search_box {
        background: transparent;
        width: 80%;
        margin: 10px auto;
        border-width: 0 0 3px 0;
        border-radius: 0;
        color: #fff;
        font-size: 20px;
        font-style: italic;
        text-align: left;


        &:hover, &:focus {
            border-color: $primary;
        }

        &::selection {
            background: rgba($primary, 0.5);
        }
    }

    #search_results {
        list-style: none;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        margin: 40px 0 0 0;
        display: none;

        li {
            margin: 8px 0;
        }
    }
}

.search-suggestions {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

// Navigation     |css-nav|
html.has-navbar-fixed-top {
    padding: 0;
}

.navbar {
    background-color: transparent;
    text-transform: uppercase;
    font-family: $font-headers;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 20px;
    transition: padding .4s ease-in-out, background-color .4s ease-in-out;
    -moz-transition: padding .4s ease-in-out, background-color .4s ease-in-out;
    -webkit-transition: padding .4s ease-in-out, background-color .4s ease-in-out;

    &.is-fixed-top {
        z-index: 1000;
    }

    .navbar-brand .navbar-item .nav-item {
        font-weight: 700;
        letter-spacing: 2px;

        &:link, &:visited, &:hover, &:active {
            border-bottom: none;
            color: $light;
        }
    }

    .navbar-menu .navbar-end {
        a.navbar-item {
            transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;

            &:link, &:visited {
                color: $light;
            }

            &:hover, &:active, &:focus {
                color: $light;
                border-bottom: none;
                background-color: rgba(255, 255, 255, 0.3) !important;
            }
        }
    }
}

.navbar.navbar-collapse {
    background-color: $dark;
    padding: 5px 20px;
}

@media screen and (max-width: 1023px) {
  .navbar .navbar-menu {
        background-color: $dark;
  }
}

@media (min-width: 1024px) {
    .navbar {
        .navbar-menu .navbar-end {
            & .navbar-item {
                margin: 0 7px;
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                & > .navbar-dropdown {
                    background: $dark;
                    border: none;
                    border-radius: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                &.active {
                  background-color: rgba(255, 255, 255, 0.3) !important;
                }
            }
        }
    }
}

// Index Styles     |css-index|
.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: $light;
    background: url('/assets/img/intro-bg.jpg') no-repeat bottom center scroll;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;

        .column {
            max-width: 90%;
            margin: 0 auto;
        }

        .brand-heading {
            font-size: 40px;
        }

        .intro-text {
            font-size: 18px;
        }
    }
}

@media(min-width:767px) {
    .intro {
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }

            .intro-text {
                font-size: 25px;
            }
        }
    }
}

// Index Header     |css-header|
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 30px;
}

// General Footer     |css-footer|
footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    /* color: #fff; */
    background-color: #222;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    &:hover,
    &:focus,
    &:active {
        color: #222;
        background-color: darken($primary, 10%);
    }
}

// Post Catalog     |css-posts|
#blog_container article {
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;

    padding: 20px 10px 20px 10px;

    &:hover {
        background: #222;

        a.post_catalog_title {
            h1, .article_excerpt {
                color: #bbb;
            }
        }

        section.read_more {
            background-color: #bbb;
            border-color: #bbb;
            color: #000;
        }
    }

    a.post_catalog_title {
        &:link, &:visited {
            color: #fff;
        }
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
}

section.article_excerpt {
    text-align: left;
}

p.post-info {
    text-align: center;
    line-height: 1em;
    margin: 0;
    font-size: 14px;
    font-family: $font-headers;
    text-transform: uppercase;

    a.category {
        &:link, &:visited {
            color: $dark-font;
            font-weight: 400;
            font-size: 80%;
        }

        &:hover, &:active {
            color: #aaa;
        }
    }
}

section.read_more {
    text-align: left;
    border: 1px solid #fff;
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    -webkit-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

div.loadMore {
    &.loading {
        &::after {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          color: #ddd;
        }
    } 

    .loadMore_txt {
        cursor: pointer;
        border: 1px solid #fff;
        padding: 10px 20px;
        line-height: 40px;
        display: block;

        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        &:hover {
            background: #bbb;
            border-color: #bbb;
            color: #000;
        }
    }
}

.pacman {
    margin-left: 40%;
}

  // === FitText
h1.large-title {
    @include responsive-font(5vw, 30px);
}

h1.medium-title {
    @include responsive-font(3vw, 25px);
}

// Tags & Categories Page     |css-categories|
.post-list {
  text-align: left;
  border: none;
  width: 100%;

  .list-item {
    font-family: $font-headers;
    font-weight: 700;
    
    .post-date {
      letter-spacing: 1px;
      font-size: 1.17em;
      width: 40%;
    }

    .post-title {
      width: 50%;
    }
  }
}

@media(min-width: 767px) {
  .post-list{
    .list-item {
      font-family: $font-headers;
      font-weight: 700;
      
      .post-date {
        letter-spacing: 1px;
        font-size: 1.17em;
        width: 35%;
      }
  
      .post-title {
        width: 65%;
      }
    }
  }
}

// Commenting System      |css-comments|
#comments-container {
  margin-top: 50px;
  padding: 50px 0;
}

.comments {
  padding-bottom: 50px;
  text-align: left;

  .comment__author {
    font-family: $font-headers;
    font-size: 25px;
    font-weight: 700;

    a:link, a:visited {
      color: $light;
    }

    a:hover, a:active {
      color: #dedede;
    }
  }

  .comment_timestamp {
    font-family: $font-headers;

    a:link, a:visited, a:hover, a:active {
      color: $dark-font;
      cursor: default;
    }
  }
}

#post-new-comment {
  .text-field {
    background: #2d2d2d;
    font-family: $font-body;
    font-size: 20px;
    border: 1px solid #5d5d5d;
    border-radius: 0;
    color: $light;
    margin: 1rem 0;
    padding: 10px;
    resize: vertical;
    width: 100%;

    &:focus, &:hover {
      border-color: $primary;
    }
  }
  
  textarea {
    min-height: 170px;
  }

  .form-submit {
    background: transparent;
    color: $light;
    font-size: 16px;
    border: 1px solid $light;
    padding: 15px 50px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
    
    &:hover, &:focus {
      background: $primary;
    }
  }
}

// Miscellaneous      |css-misc|

 // === MathJax
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}

 // ===  Featherlight Style Overriding
.featherlight .featherlight-content {
    background: #0f0f0f;
    box-shadow: 0px 0px 5px #555;

    .featherlight-close-icon {
        background: #444;
        color: #fff;
    }
}

 // ===  Masonry Grids
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer, .grid-item {
    width: 100%;
    margin-bottom: 50px;
}

.grid-item--width2 { width: 40% }

@media(min-width: 767px) {
    .grid-sizer, .grid-item { width: 33.33% }
}

 // ===  Social Media Sharing
.share {
   display: flex;
   justify-content: center;
   font-size: 24px;

   div {
       padding: 0 10px;
   }
}

 // ===  Code Highlighter
code {
  background: #2d2d2d;
}

code.highlighter-rouge {
  background: #23241f;
}

 // ===  Signature
.signature {
  font-family: 'Satisfy', cursive;
  font-size: 24px;
  margin: 20px 0;
}

 // === last.fm Recently Played
.lastfm-displayText, .lastfm-thanks {
  display: none;
}

.lastfm-displayText.active {
  display: block !important;
}

.lastfm-recent {
  display: block;

  &.active + .lastfm-thanks {
    display: block !important;
  }

  a:link, a:hover, a:visited, a:active {
    color: $light;
    text-decoration: none;
  }
  
  .track {
    margin: 10px auto;

    .trackDesc {
      width: 174px;
      margin: 0 auto;
      padding: 5px;
      background: rgba(0, 0, 0, 0.3);

      .track-artist {
        font-weight: 700;
      }
    }
  }
}

.lastfm-thanks {
  margin: 10px auto;

  a:link, a:visited, a:hover, a:active {
    color: #D3D0C8;
    -webkit-transition: border .1s ease-in-out;
    -moz-transition: border .1s ease-in-out;
    transition: border .1s ease-in-out;
  }

  a:hover {
    border-bottom: 2px solid $primary;
  }

  .fa.fa-lastfm {
    color: #ba0000;
    font-weight: 700;
  }
}

@media(min-width: 767px) {
  .lastfm-recent {
    display: flex;
    justify-content: space-between;
  }
}

 // === g-recaptcha styling for responsiveness
 .g-recaptcha {
    display: flex;
    justify-content: space-around;
 }

@media screen and (max-width: 767px) {
  #rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
  }
}

  // Footnotes
  .footnotes {
    font-size: 14px;

    &:before {
      content: "Footnotes";
      font-weight: 700;
      border-bottom: 1px solid white;
    }

    ol li {
      font-size: 14px;
      p {
        display: inline;
        font-size: 14px;
      }
    }
  }
