---
layout: resume
section-type: resume
title: CV
---

<div class="center myInfo">
  <img class="cv-head" src="{{ site.url }}{{ site.img_dir }}/myface.jpg" />
  <br />
  <h2 class="myName">Johnson Ng</h2>
  3A Student | University of Waterloo

  <div class="about">Pure Mathematics | Actuarial Science | <span class="fa fa-apple"></span>  | Photography | <span class="fa fa-leaf"></span> | Taekwondo | Programming | Design | Anime | Philosophy | Gaming | Coffee & Tea</div>

</div>

<div class="grid" style="height: auto;">
    <div class="grid-sizer"></div>
    <div class="grid-item grid-item--width1">
        <h5>Personal Statement</h5>
        <h4>I AM LOOKING FOR MY FIRST ACTUARIAL JOB EXPERIENCE! IT WOULD BE DELIGHTFUL IF I CAN BE GIVEN SUCH AN OPPORTUNITY.</h4>

        I am a 22 year-old international student interested in going down the path of actuarial research, particularly in mortality and morbidity rates and modelling. The thrill of intellectual discovery satiates my desire to know, and it is a never-ending process, for new knowledge leads, eventually, to more questions.
        <br /><br />
        I have 4 months of work experience in data analysis working with the Ontario Ministry of the Environment and Climate Change, and 9 months of experience as an undergraduate research assistant for a PhD candidate (now a full-fledged PhD). I am ready to start my career in the actuarial world. I can work individually, and I would love to work in a team, especially if we share the same passion.
        <br /><br />
        Why don't we work together? Go further down to see what I have to offer, and do feel free to contact me either for enquiries, or if you would like to further discuss about what I can do for you.
    </div>
    <div class="grid-item grid-item--width2">
        <h5>Work Experience</h5>
        <div class="workexp-container">
          {% for exp in site.data.workexp %}
              <div class="duration-num">
                {{ exp.durationNum }}
              </div>
              <div class="job-info">
                  <span class="durationPeriod">{{ exp.durationPeriod }}</span> ({{ exp.period }})<br />
                  <span class="job-pos">{{ exp.position }}</span> <br />
                  {{ exp.employer }}
                  {% if exp.department != nil %}
                   | {{ exp.department }}
                  {% endif %}

                  <br />

                  <ul class="job-desc">
                  {% for desc in exp.description %}
                      <li>{{ desc }}</li>
                  {% endfor %}
                  </ul>
              </div>

          {% endfor %}
        </div>
    </div>
    <div class="grid-item grid-item--width2">
        <h5>Education</h5>
        {% for study in site.data.education %}
            <div>
                <b>{{ study.focus }}</b><br />
                <small>{{ study.school }}</small>
            </div>

            {% if forloop.last == false %}
            <br />
            {% endif %}
        {% endfor %}
    </div>
    <div class="grid-item grid-item--width2">
        <h5>Certifications</h5>
        <div class="row">
          <div class="col-2 center"><span class="fa fa-briefcase" style="font-size: 48px;"></span></div>
          <div class="col-5">
              <b>Passed Actuarial Examinations</b>
              <br />
              SOA/CAS Exam P/1
          </div>
          <div class="col-5">
              <b>Attempted Actuarial Examinations</b>
              <br />
              SOA/CAS Exam FM/2
          </div>
        </div>
    </div>
    <div class="grid-item grid-item--width2">
        <h5>Skills & Knowledge</h5>
        <div class="skills-container">
          {% for skill in site.data.cv_skills %}
            <div class="skill-item skill">{{ skill.name }}</div>
            <div class="skill-item level">
              {% for i in (1..10) %}
                {% if i <= skill.level %}
                  <img src="{{ site.url }}{{ site.img_dir }}/cv/skillpt.svg" />
                {% else %}
                  <img src="{{ site.url }}{{ site.img_dir }}/cv/noskillpt.svg" />
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="grid-item grid-item--width1">
        <h5>Language Skills</h5>
        <div class="language-container">
          {% for lang in site.data.cv_language %}
            <div class="language lang-lvl{{ lang.level }}">
              <b>{{ lang.language }}</b><br />
              {{ lang.description }}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="grid-item grid-item--width1">
        <h5>Hobbies & Interests</h5>
        <div class="hobby-container">
          <div class="hobby-item">
              <span class="fa fa-headphones"></span><br />
              <span>Music</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-gamepad"></span><br />
              <span>Games</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-book"></span><br />
              <span>Reading</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-coffee"></span><br />
              <span>Coffee</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-camera-retro"></span><br />
              <span>Photo</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-sticky-note-o"></span><br />
              <span>Math</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-leaf"></span><br />
              <span>Leaves</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-cloud"></span><br />
              <span>Clouds</span>
          </div>
          <div class="hobby-item">
              <span class="fa fa-male"></span><br />
              <span>TKD</span>
          </div>
        </div>
    </div>
</div>
