@font-face
  font-family: "EB Garamond"
  src: url("../fonts/EBGaramond-Regular.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "EB Garamond"
  src: url("../fonts/EBGaramond-Bold.ttf")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "Libre Baskerville"
  src: url("../fonts/LibreBaskerville-Regular.ttf")
  font-weight: normal
  font-weight: normal

@font-face
  font-family: "Libre Baskerville"
  src: url('../fonts/LibreBaskerville-Bold.ttf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: "Libre Baskerville"
  src: url('../fonts/LibreBaskerville-Italic.ttf')
  font-weight: normal
  font-style: italic

@font-face
  font-family: "Times Newer Roman"
  src: url('../fonts/TimesNewerRoman-Regular.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Times Newer Roman"
  src: url('../fonts/TimesNewerRoman-Bold.otf')
  font-weight: bold
  font-style: normal

@font-face
  font-family: "Times Newer Roman"
  src: url('../fonts/TimesNewerRoman-Italic.otf')
  font-weight: normal
  font-style: italic

@font-face
  font-family: "Times Newer Roman"
  src: url('../fonts/TimesNewerRoman-BoldItalic.otf')
  font-weight: bold
  font-style: italic

@font-face
  font-family: Hack
  src: url('../fonts/Hack-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: Hanazono
  src: url('../fonts/HanaMinA.ttf')
  src: url('../fonts/HanaMinB.ttf')
