@import '_variables'
@import '_mixins'
// Generics
.center
  text-align: center
.myInfo
  display: block
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  img.cv-head
    width: 200px
    height: 200px
    border: 10px solid white
    border-radius: 100%
    margin: 20px
  .myName
    margin-bottom: 0
  .about
    font-family: "Cormorant+Garamond", serif, "Helvetica Neue", Helvetica,Arial,sans-serif
    font-size: 20px
    line-height: 1.6
    width: 80%
    margin: 0 auto
    margin-top: 20px
// Headers
h5
  border-bottom: 1px dotted #ddd
// Work Experience
.workexp-container
  display: grid
  grid-template-columns: 20% 80%
  grid-template-rows: auto
  grid-template-areas: "durationNum jobInfo"
  grid-row-gap: 20px
  .duration-num
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-size: 100px
    font-weight: 700
    padding: 0
    margin-top: -30px
    justify-self: center
  .job-info
    .durationPeriod
      text-transform: lowercase
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
      font-weight: 700
      margin-right: 15px
    .job-pos
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
      font-size: 24px
      font-weight: 100
      line-height: 24px
    .job-desc
      list-style-type: disc
      margin: 10px 0
      padding: 0
// Skills
.skills-container
  display: grid
  grid-template-columns: 50% 50%
  grid-template-rows: auto
  grid-template-areas: "skill level"
  grid-column-gap: 20px
  align-items: center
  .skill-item
    align-self: center
    &.skill
      justify-self: right
// Language Skills
.language-container
  display: grid
  grid-template-columns: 50% 50%
  grid-template-rows: auto
  grid-row-gap: 20px
  justify-items: center
  align-items: center
  justify-content: space-between
  align-content: space-between
  .language
    justify-self: center
    align-self: center
    width: 150px
    height: 150px
    text-align: center
    padding: 40px 20px
  .lang-lvl0
    background: url(assets/img/cv/language_lvl0.svg)
    background-size: 150px 150px
  .lang-lvl1
    background: url(/assets/img/cv/language_lvl1.svg)
    background-size: 150px 150px
  .lang-lvl2
    background: url(/assets/img/cv/language_lvl2.svg)
    background-size: 150px 150px
  .lang-lvl3
    background: url(/assets/img/cv/language_lvl3.svg)
    background-size: 150px 150px
  .lang-lvl4
    background: url(/assets/img/cv/language_lvl4.svg)
    background-size: 150px 150px
// Hobby Items
.hobby-container
  display: grid
  grid-template-columns: 33.33% 33.33% 33.33%
  grid-template-rows: auto
  grid-row-gap: 20px
  justify-content: space-between
  .hobby-item
    border: 1px solid #fff
    padding: 20px
    height: 90px
    width: 90px
    justify-self: center
    align-self: center
    border-radius: 50%
    text-align: center
    margin: 5px
    span.fa
      font-size: 36px
@media (min-width: 767px)
  .language-container
    grid-template-columns: 25% 25% 25% 25%
  .hobby-container
    grid-template-columns: 20% 20% 20% 20% 20%
// Masonry Grid
.grid-item--width1
  width: 100%
.grid .grid-item
  padding: 10px
  text-align: left
  margin-bottom: 10px
.grid-item--width2
  width: 100%
@media (min-width: 767px)
  .grid-sizer, .grid-item--width2
    width: 50%
