@import '_colordark'
@import '_fonts'
@import '_mixins'
@import '_variables'
@import 'flex'
@import '../../node_modules/rfs/stylus'
*, body, html
  margin: 0
  padding: 0
::selection
  background: $highlight
body
  background: $background
  color: $foreground
  margin-top: 20px
  font-family: $font-body
  font-size: $font-size
  line-height: $line-height
  counter-reset: sidenote-counter
a:link, a:visited
  color: $foreground
  text-decoration: none
  border-bottom: 2px solid $foreground
  -moz-transition: all .2s ease-in-out
  -webkit-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
a:hover, a:active
  color: $primary
  text-decoration: none
  border-bottom: 2px solid $primary
a img
  display: block
h1, h2, h3, h4, h5, h6
  font-family: $font-headers
  font-weight: bold
  line-height: 1.5
  margin-bottom: 10px
  word-wrap: break-word
h1
  font-size: 48px
h2
  font-size: 44px
h3
  font-size: 40px
h4
  font-size: 36px
h5
  font-size: 32px
h6
  font-size: 28px
h6.small
  font-size: 24px
  line-height: 24px
  margin: 10px 0
h1.title, h3.title
  margin: 10px auto
hr
  margin-top: 20px
hr.hr-double
  height: 5px
  border: none
  border-top: 3px solid $foreground
  border-bottom: 2px solid $foreground
hr.hr-double-reverse
  height: 5px
  border: none
  border-top: 2px solid $foreground
  border-bottom: 3px solid $foreground
blockquote
  width: 90%
  margin: 5px auto
  padding: 5px
  background: $bg1
  font-style: italic
blockquote::before
  font-family: "Font Awesome 5 Free"
  font-weight: 900
  content: "\f10d"
  float: left
  margin-right: 10px
  color: $bg5
code, pre.highlight
  font-family: $font-monospace
  background: $bg1
  font-size: 16px
code[class^='highlighter-']
  padding: 2px
pre.highlight
  padding: 10px
  code
    background: none
form
  display: flex
  flex-direction: column
  input, textarea
    margin: 5px 0
input[type=text], input[type=email], input[type=url], textarea
  font-family: $font-sidebar
  font-size: 18px
  background: $bg1
  color: $foreground
  border: none
  padding: 10px
button,
input[type=button], input[type=Submit],
a.button:link, a.button:visited,
div.button
  font-family: $font-headers
  background: none
  color: $foreground
  border: 1px solid $foreground
  padding: 10px
  -moz-transition: background .2s ease-in-out
  -webkit-transition: background .2s ease-in-out
  transition: background .2s ease-in-out
  cursor: pointer
button:hover, button:active,
input[type=button]:hover, input[type=button]:active,
input[type=Submit]:hover, input[type=Submit]:active,
a.button:hover, a.button:active,
div.button:hover
  background: #cd00ff55
  color: $foreground
ol, ul
  margin: 10px 0 20px 0
.subtitle
  font-family: $font-sidebar
  font-size: 16px
  margin-bottom: 20px
  a:link, a:visited, a:hover, a:active
    border-bottom: none
.sidenote, .marginnote
  display: none

  object
    max-width: 20vw
.hidden-desktop
  display: none !important
.is-active
  display: block
ul.simple-ul-list__has-active
  li.active
    font-weight: bold
.outer-container
  width: $content-width
  margin: 0 auto
.search
  margin-right: 10px
.navbar
  font-family: $font-headers
  font-size: 24px
  font-weight: bold
  line-height: 24px
  -moz-transition: padding .2s ease-in-out
  -webkit-transition: padding .2s ease-in-out
  transition: padding .2s ease-in-out
  .navbar-main
    display: flex
    justify-content: space-between
    align-items: center
  .fa
    font-size: 24px
  a:link, a:visited, a:hover, a:active
    border-bottom: none
  .navbar-logo
    .navbar-item[data-target='navMenu']
      cursor: pointer
  .navbar-menu
    display: flex
    align-items: center
    .navbar-item
      margin: 0 15px
      text-transform: uppercase
      &.navbar-search
        display: flex
        align-items: center
        justify-content: space-around
    .theme-toggle
      cursor: pointer
  &.navbar-collapse
    position: fixed
    top: 0
    padding-top: 10px
    width: $content-width
    height: 50px
    background: $background
    z-index: 9999
.page-position
  position: fixed
  left: 0
  top: 0
  height: 2px
  z-index: 10000
  background: $primary
header
  width: 100%
  p#random-quote
    font-family: $font-sidebar
    font-style: italic
    font-size: 14px
    margin-left: auto
    margin-right: 0
    width: 30%
    min-width: 150px
    text-align: right
.inner-container
  display: flex
  justify-content: space-between
main
  width: 60%
aside
  width: 35%
  text-align: right
.search-results
  ul
    list-style: none
    li
      margin: 10px 0
.search-help
  margin-top: 20px
  text-align: left
  display: none
  transition: all .2s ease-in-out;
.simple-post-container
  margin: 20px 0 40px 0
.post-excerpt
  font-family: $font-body
  font-size: 18px
  line-height: 24px
  margin: 20px 0
  p
    margin: 10px auto
#blog-outer-container
  .latest-post
    margin-bottom: 25px
    h1.super-title
      responsive-font-size(96px)
      line-height: normal
      text-align: center
    article
      padding: 20px
      .subtitle
        text-align: center
  .latest-post, .post-masonry
    article
      -moz-transition: background .2s ease-in-out
      -webkit-transition: background .2s ease-in-out
      transition: background .2s ease-in-out
      &:hover, &:active
        background: $bg03
      div.button.readmore
        max-width: 200px
        width: 20%
        min-width: 150px
        text-align: center
  .post-block
    &:link, &:visited, &:hover, &:active
      color: $foreground
  .post-masonry
    article
      padding: 5px
      -moz-transition: opacity .5s ease-in-out, padding .2s ease-in-out
      -webkit-transition: opacity .5s ease-in-out, padding .2s ease-in-out
      transition: opacity .5s ease-in-out, padding .2s ease-in-out
    .msnry-animate
      opacity: 0
      padding-top: 40px
  .loadMore
    width: 35%
    max-width: 350px
    min-width: 250px
    text-align: center
    margin: 20px auto
    border: 1px solid $foreground
    padding: 10px
    cursor: pointer
.post-content hr, .post-excerpt hr, hr.sec-sep
  margin-top: 50px
  overflow: visible
  /* For IE */
  padding: 0
  border: none
  border-top: medium double $foreground
  color: $foreground
  text-align: center
  &:after
    content: "§"
    display: inline-block
    position: relative
    top: -0.7em
    font-size: 1.5em
    background: $background
.post-content, .post-excerpt
  img
    max-width: 100%
  .post-video
    video
      width: 100%
      max-width: 100%
    .caption
      font-family: $font-sidebar
      font-size: 14px
  .youtube
    position: relative
    width: 100%
    height: 0
    padding-bottom: 52.65%
    margin-bottom: 40px
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    &:after
      position: absolute
      font-family: "Font Awesome 5 Brands"
      font-size: 16px
      content: "\f167 YouTube"
      bottom: -24px
      right: 0
  // tufte
  input.margin-toggle, label.margin-toggle:not(.sidenote-number)
    display: none
.post-content
  h1.post-title
    font-size: 58px
    line-height: normal
    padding-top: 50px
  .post-description
    margin: 10px 0
    p
      color: $bg7
      font-family: $font-sidebar
      font-size: 16px
  blockquote p
    padding: 0 10px
  p
    line-height: 1.7
    margin: 24px 0
  // tufte
  .fullwidth
    width: $content-width !important
    max-width: none !important
    img
      width: $content-width !important
    figure figcaption
      width: $content-width !important
  .sidenote, .marginnote
    display: block
    float: right
    clear: right
    margin-right: -60%
    width: 50%
    margin-top: 0
    margin-bottom: 0
    font-size: 1.1rem
    line-height: 1.3
    vertical-align: baseline
    position: relative
  .sidenote-number
    counter-increment: sidenote-counter
  .sidenote-number:after, .sidenote:before
    font-family: $font-sidebar
    position: relative
    vertical-align: baseline
  .sidenote-number:after
    content: counter(sidenote-counter)
    font-size: $font-size-sidenote-label
    top: -0.5rem
    left: 0.1rem
  .sidenote:before
    content: counter(sidenote-counter) " "
    font-size: $font-size-sidenote-label
    top: -0.5rem
  blockquote .sidenote, blockquote .marginnote
    margin-right: -82%
    min-width: 59%
    text-align: left
  span.newthought
    font-variant: small-caps
    font-size: 1.2em
  label.sidenote-number
    display: inline
.post-hero, .post-content
  img
    max-width: 100%
  figure
    position: relative
    figcaption
      font-family: $font-sidebar
      font-size: 14px
      background: rgba(0, 0, 0, 0.9)
      color: #fff9e5
      width: 100%
      text-align: center
      padding: 5px 0
      position: absolute
      bottom: 0
      opacity: 0
      -moz-transition: opacity .2s ease-in-out
      -webkit-transition: opacity .2s ease-in-out
      transition: opacity .2s ease-in-out
    &:hover figcaption
      opacity: 1
div.pagination
  display: flex
  justify-content: space-between
  margin: 20px 0
div#comments-container
  .comment__author
    font-family: $font-headers
    font-weight: bold
    font-size: 36px
    margin: 10px 0
  .comment__timestamp
    font-family: $font-sidebar
    font-size: 14px
  .comment__message
    background: $bg1
    padding: 10px
    margin: 10px 0
    p
      margin: 0
      margin-bottom: 10px
.signature
  font-family: $font-sidebar
  font-style: italic
  text-align: center
  margin: 20px auto
.project-container
  display: flex
  flex-direction: column
  text-align: center
  .project-item
    margin: 10px 0 30px 0
    a:link, a:visited, a:hover, a:active
      border-bottom: none
      color: $foreground
    img
      max-width: 100%
footer
  margin: 100px 0
  text-align: center
  .footer-content
    padding: 20px
    text-align: left
    display: flex
    justify-content: space-between
  .social-buttons
    list-style: none
    font-size: 32px
    margin-bottom: 5px
    li
      display: inline
      a:link, a:visited, a:hover, a:active
        border-bottom: none
.categories-list ul
  list-style: none
  li
    a:link, a:visited, a:hover, a:active
      border-bottom: none
.lastfm-recent-container
  width: 60%
  max-width: 800px
  h4.lastfm-displayText
    margin: 10px 0
  .lastfm-recent
    margin: 10px 0
    .track
      width: 150px
      margin: 0 20px
      text-align: center
      img
        max-width: 150px
        margin-bottom: 5px
      .track-artist
        font-weight: bold
      .trackDesc
        font-size: 14px
  .lastfm-thanks
    width: 100%
    text-align: right
    font-size: 14px
.kdmath
  overflow-x: auto;
// medium screens
@media screen and (max-width: 960px)
  input[type=text], input[type=email], input[type=url], textarea
    font-size: 14px
  .hidden-desktop
    display: block !important
  .outer-container
    width: $mobile-content-width
    margin: 0 auto
  .navbar
    padding: 10px 0
    font-size: 16px
    .fa
      font-size: 16px
    .navbar-main
      display: block
    .navbar-logo
      display: flex
      justify-content: space-between
    .navbar-menu
      display: none
      &.is-active
        display: flex
      flex-direction: column
      & > .navbar-item
        margin: 5px auto
    &.navbar-collapse
      width: $mobile-content-width
      height: auto
  .inner-container
    display: block
  main, aside
    width: 100%
  #blog-outer-container
    .latest-post
      article
        padding: 5px
      h1.super-title, article .subtitle
        text-align: left
  .post-content
    .pagination
      display: block
      div
        margin: 20px 0
      div:last-child
        text-align: right
  footer
    .footer-content
      display: block
  .lastfm-recent-container
    width: 100%
    .lastfm-recent
      .track
        margin: 20px auto
  // tufte
  .sidenote, .marginnote
      object
        border: 10px solid gray
        max-width: 70vw
  .post-content
    label.margin-toggle:not(.sidenote-number)
      display: inline
    .sidenote, .marginnote
      display: none
      margin-right: auto;
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote
    display: block
    float: left
    left: 1rem
    clear: both
    width: 95%
  label
    cursor: pointer
  .post-masonry
    height: auto !important
    .masonry-item
      width: 100% !important
      position: relative !important
      top: 0 !important
      left: 0 !important
      margin: 20px auto;
