<!doctype html>
<html lang="{{ site.lang }}">
	{% include head.html %}
	<body id="page-top" data-spy="scroll">
    <div id="blog-outer-container" class="outer-container">

		  {% include navigation.html %}
      {%- assign page_slug = page.title | slugify -%}
      <div style="text-align: center;">
        {{ page.content | markdownify }}
      </div>

      <div id="blog_container" data-curPage="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">
			{% for post in paginator.posts %}
			{% if forloop.index0 == 0 and paginator.page == 1 %}
				<div class="latest-post">
				  <article>
            <a class="post-block" href="{{ site.baseurl }}{{ post.url }}">
              <h1 class="super-title">{{ post.title }}</h1>
              <div class="subtitle">{{ post.date | date_to_string }} &nbsp;{%- unless post.category == nil or post.category == '' -%} <span class="fa fa-folder"></span> {{ post.category }} &nbsp;{%- endunless -%} {% include aids/count-comments.html post=post %} <span class="fa fa-comment"></span></div>

				    	<section class="post-excerpt">{{ post.content | markdownify | truncatewords: 125 }}</section>
				    </a>

            <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="button readmore"><b>Read More >></b></div>
            </a>
				  </article>
				</div>
      {% else %}
				{% if forloop.index0 == 1 %}
				<div class="post-masonry">
				{% endif %}
				<article class="masonry-item">
          <a class="post-block" href="{{ site.baseurl }}{{ post.url }}">
            <h3 class="title">{{ post.title }}</h3>
            <div class="subtitle">{{ post.date | date_to_string }} &nbsp;{%- unless post.category == nil or post.category == '' -%} <span class="fa fa-folder"></span> {{ post.category }} &nbsp;{%- endunless -%} {% include aids/count-comments.html post=post %} <span class="fa fa-comment"></span></div>

				  	<section class="post-excerpt">{{post.content | markdownify | truncatewords: 75 }}</section>

				  </a>
          <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="button readmore"><b>Read More >></b></div>
				  </a>
				</article>
				{% if forloop.last %}
				</div>
				{% endif %}
			{% endif %}
			{% endfor %}
      <div>

      {% if paginator.next_page %}
      <div class="loadMore">Load more posts</div>
      {% endif %}

		{% include footer.html %}
    </div>

		{% include js.html %}

		<script type="text/javascript">
		var msnry = new Macy({
      container: '.post-masonry',
      columns: 3,
      margin: {
        x: 20,
        y: 50
      }
		});
		</script>

	</body>
</html>
