<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
      
      <div class="g-row">
        <div class="g-col-3-l g-col-2-s"></div>
        <div class="g-col-6-l g-col-8-s" style="text-align: center">
          {{ page.content | markdownify }}
        </div>
        <div class="g-col-3-l g-col-2-s"></div>
      </div>
          
    {% include footer.html %}

    {% include js.html %}

    </div>
        
    </body>
</html>
