<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
        
      {{ page.content | markdownify }}
          
      {% include footer.html %}

    </div>

    {% include js.html %}
        
    </body>
</html>
