<!-- Index Layout Start -->

<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="outer-container">

      {% include navigation.html %}

      {% include header.html %}

      <div class="inner-container">
        <main>
          {% assign post = site.posts.first %}
          <a href="{{ site.baseurl }}{{ post.url }}"><h1 class="title">{{ post.title }}</h1></a>
          <div class="subtitle">{{ post.date | date_to_string }} &nbsp; <a href="{{ site.baseurl }}/categories/{{ post.category }}"><span class="fa fa-folder"></span> {{ post.category }}</a> &nbsp; <a href="{{ site.baseurl }}{{ post.url }}#comments-container">{% include aids/count-comments.html post=post %} <span class="fa fa-comment"></span></a></div>

          <div class="post-excerpt">
            {{ post.content | markdownify | truncatewords: 150 }}
          </div>

          <a class="button" href="{{ site.baseurl }}{{ post.url }}"><b>READ MORE >></b></a>
        </main>

        <aside>
          <hr class="hr-double" />

          <div class="math-content">
            <a href="{{ site.baseurl }}/math/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Math</h6></a>
            {% assign mathpost = site.math.last %}
            <a href="{{ site.baseurl }}{{ mathpost.url }}"><h4>{{ mathpost.title }}</h4></a>
            <div class="subtitle">{{ mathpost.date | date_to_string }} &nbsp; <a href="{{ site.baseurl }}{{ mathpost.url }}#comments-container">{% include aids/count-comments.html post=mathpost %} <span class="fa fa-comment"></span></a></div>

            <div class="post-excerpt">
              {{ mathpost.content | markdownify | truncatewords: 20 }}
            </div>
          </div>

          <hr class="sec-sep" />

          <div class="til-content">
            <a href="{{ site.baseurl }}/til/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Today I Learned</h6></a>
            {% assign tilpost = site.til.last %}
            <a href="{{ site.baseurl }}{{ tilpost.url }}"><h4>{{ tilpost.title }}</h4></a>
            <div class="subtitle">{{ tilpost.date | date_to_string }} &nbsp; <a href="{{ site.baseurl }}{{ tilpost.url }}#comments-container">{% include aids/count-comments.html post=tilpost %} <span class="fa fa-comment"></span></a></div>

            <div class="post-excerpt">
              {{ tilpost.content | markdownify | truncatewords: 20 }}
            </div>
          </div>

          <hr class="hr-double-reverse" />
        </aside>
      </div>

      {% include footer.html %}

      {% include js.html %}

    </div>
  </body>
</html>

<!-- Index Layout End -->
