<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="outer-container">
      {% include navigation.html %}
      
      {{ page.content | markdownify }}

      <ul>
        {% for project in page.projects %}
        <li><a href="#{{ project.title | slugify }}">{{ project.title }}</a></li>
        {% endfor %}
      </ul>

      <div class="project-container">
        {% for project in page.projects %}
        <div class="project-item">
          <a href="{{ project.url }}" target="_blank">
            <b><span id="{{ project.title | slugify }}" class="project-item-title">{{ project.title }}</span></b>
            <img data-src="{{ site.baseurl }}/{{ site.img_dir }}/projects/{{ project.img }}" />
            <span class="project-description">{{ project.description }}</span>
          </a>
        </div>
        {% endfor %}
      </div>

      {% include footer.html %}
    </div>

    {% include js.html %}
  </body>
</html>
