<!-- Résumé Layout Start -->

<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
    
    {% include head.html %}
    
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    
    {% include navigation.html %}
      
    <section id="{{ page.title | slugify }}" class="container is-fluid has-text-centered content-section">
      {{ content }}
    </section>
        
    <section id="{{ page.title | slugify }}" class="container has-text-centered content-section">
      <div class="columns is-mobile">
        <div class="column is-8 is-offset-2">
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}    
        
    </body>
</html>

<!-- Résumé Layout End -->
