<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
        
      {{ page.content | markdownify }}

      <div class="inner-container">
        <main>
          <div class="search-box">
            <form action="get" id="site_search">
              <input type="text" id="search_box" placeholder="Search..." autofocus />
            </form>
          </div>

          <div class="optional-searches g-row">
            <div class="flush-left">
              Browse by: 
              <a href="{{ site.baseurl }}/categories/">Categories</a> 
              <a href="{{ site.baseurl }}/tags/">Tags</a>
            </div>
            <div class="flush-right">
              <a href="#" id="advanced-help" title="Toggle advanced help"><i class="fa fa-info-circle"></i> Help</a>
            </div>
          </div>

          <div class="search-results">
            <ul id="search_results">
            </ul>
          </div>
        </main>

        <aside>
          <hr class="hr-double" />

          <div class="blog-content">
            <a href="{{ site.baseurl }}/blog/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest Blog Post</h6></a>
            {% assign post = site.posts.first %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> . {{ post.date | date_to_string }}

          </div>

          <div class="math-content">
            <a href="{{ site.baseurl }}/math/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest Math Post</h6></a>
            {% assign mathpost = site.math.last %}
            <a href="{{ site.baseurl }}{{ mathpost.url }}">{{ mathpost.title }}</a> . {{ mathpost.date | date_to_string }}

          </div>

          <div class="til-content">
            <a href="{{ site.baseurl }}/til/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest TIL Post</h6></a>
            {% assign tilpost = site.til.last %}
            <a href="{{ site.baseurl }}{{ tilpost.url }}">{{ tilpost.title }}</a> . {{ tilpost.date | date_to_string }}

          </div>

          <hr class="hr-double-reverse" />

          <div class="search-help">
            <h6>Advanced Searching</h6>
            <ul>
              <li><b>Boosting</b><br />
                Append <code class="highlighter-rouge">^n</code>, where <code class="highlighter-rouge">n</code> is a positive integer, to imply importance in your search. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>macos^10 latex^5 axiom</code>
                    </pre>
                  </div>
                </div>
                <ul>
                  <li> 10 points of importance to "macos",</li>
                  <li> 5 points of importance to "latex",</li> 
                  <li> and normal importance to "axiom".</li>
                </ul>
              </li>

              <li><b>Fuzzy</b><br />
                Appending a tilde "~" and a positive integer relaxes the searched term. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>macos~3</code>
                    </pre>
                  </div>
                </div>
                allows for the matching of 'ma<i>tch</i>'.
              </li>

              <li><b>Term pressence</b><br />
                Prepending a word with "+" or "-" emphasizes must have and must not have in your results, respectively. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>+macos -latex</code>
                    </pre>
                  </div>
                </div>
                <ul>
                  <li>must match "macos", and</li>
                  <li>must not match "latex".</li>
                </ul>
              </li>

              <li><b>Wildcards</b><br />
                You can use "*" to match arbitrary character(s). E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>la*</code>
                    </pre>
                  </div>
                </div>
                will search for any word prepended with "la", while
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>la*e</code>
                    </pre>
                  </div>
                </div>
                will search for words like "late" or "latte".
              </li>

              <li><b>Fields</b><br />
                You can look in specific fields as follows:
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight">
<code>title:macos</code>
                    </pre>
                  </div>
                </div>
                This will look for "macos" in the titles of posts. There are 5 fields available for searching:
                <ul>
                  <li>title</li>
                  <li>description</li>
                  <li>content</li>
                  <li>categories</li>
                  <li>tags</li>
                </ul>
              </li>
            </ul>

            <a target="_blank" href="https://lunrjs.com/guides/searching.html"><i class="fa fa-external-link-alt"></i> Detailed help</a>
          </div>
        </aside>
      </div>
          
      {% include footer.html %}

    </div>

    {% include js.html %}

    <script type="text/javascript" src="/assets/js/fuse.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(e) {
      document.querySelector('#advanced-help').addEventListener('click', function(f) {
        f.preventDefault();
        var searchHelp = document.querySelector('.search-help');
        if ( searchHelp.style.display == "none" || searchHelp.style.display === "" ) {
          searchHelp.style.display = "block";
        } else {
          searchHelp.style.display = "none";
        }
      });
    });

    window.data = getJSON('/searchData.json');

    window.data.then(function(loaded_data) {
      document.getElementById('site_search').addEventListener('keyup', function(e) {
        var query = document.getElementById('search_box').value;
        if ( query !== "" ) {
          var results = idx.search(query);
          display_search_results(results);
          document.getElementById('search_results').style.display = 'block';
        } else {
          document.getElementById('search_results').style.display = 'none';
        }
       });

      window.idx = lunr(function() {
          this.field('id');
          this.field('title');
          this.field('description');
          this.field('content', { boost: 10 });
          this.field('categories');
          this.field('tags');

          var i = 0;
          for (var value in loaded_data) {
            if (loaded_data.hasOwnProperty(value)) {
              var content = JSON.parse(JSON.stringify(Object.assign({}, loaded_data[value], { "id": i++ })));
              this.add(content);
            }
          }
      });
    });

    function display_search_results(results) {
      var $search_results = document.getElementById('search_results');

      // Wait for data to load
      window.data.then(function(loaded_data) {

        // Are there any results?
        if (results.length) {
          $search_results.innerHTML = ''; // Clear old results

          // Iterate over the results
          results.forEach(function(result) {
            var item = loaded_data[Object.keys(loaded_data)[result.ref]];

            // Build a snippet of HTML for this result
            var appendString = '<li><a href="' + item.url + '">' + item.title + '</a></li>';

            // Add the snippet to the collection of results.
            $search_results.innerHTML += appendString;
          });
        } else {
          // If there are no results, let the user know.
          $search_results.innerHTML = '<li>No results found</li>';
        }
      });
    }
    </script>
        
    </body>
</html>
